// .navbar{
//     position: fixed;
//     width: 100%;
//     opacity: .85;
//     z-index:10;
// }

#carousel img {
    object-fit: cover;
    width: 100%;
    max-height: 550px;
    overflow-y: hidden;
    z-index:0;
}

.items-scroll {
    .header {
        input{
            display: none
        }
        input + span {
            opacity: 0.6;
        }
        input:checked + span {
            opacity: 1;
        }
        span:hover {
            opacity: 0.9;
        }
    }

    .scrolling-wrapper {
        max-height: 300px;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 0;
        -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
          display: none;
      }

      .card {
          height: 100%;
          width: 40%;
          max-width: 200px;
          min-width: 150px;
          margin-left: 20px;
          word-wrap: break-word;
          display: inline-block;
          .view.overlay {
              z-index: 1;
          }

          .card-image {
              a {
                  max-height: 100%;
              }
              max-height: 100%;
          }

          .card-body {
              opacity: 0.8;
              z-index: 10;
              margin: 0;
              padding: 0;
          }
      }
    }

    .arrow {
        position: relative;
        bottom: 115px;
        margin: 5px;
    }
}

.company-details {
    text-align: center;
    background: whitesmoke
}

.categories {

    .col-6 {
        max-height: 200px;
        overflow: hidden
    }

    img {
        object-fit: cover;
        object-position: center;
        min-height: 100%;
        min-width: 100%;
        max-width: 110%;
    }
}
