{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png'%}">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/css/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <a href="{% url 'home' %}" class="navbar-brand"><h4><strong>BAGIFY</strong></h4></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                  aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <!-- <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i class="fa fa-list-alt d-sm-none"></i> Categories
                          </a>
                          <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">

                            <a class="dropdown-item" href="collections/"></a>

                          </div>
                        </li>
                    </ul> -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'cart' %}">
                            <i class="fas fa-shopping-cart"></i> Cart</a>
                        </li>
                        {% if user.is_authenticated %}
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          <i class="fas fa-user"></i> {{user}} </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                          <a class="dropdown-item" href="{% url 'account' %}">My account</a>
                          <a class="dropdown-item" href="{% url 'auth_logout' %}">Log out</a>
                        </div>
                      </li>
                        {% else %}
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'auth_login' %}">
                            <i class="fas fa-sign-in-alt"></i> Sign-in</a>
                        </li>
                        {% endif %}
                    </ul>
                  </div>
              </nav>
        </header>
        {% block content %}
        {% endblock %}
        <footer class="page-footer font-small elegant-color pt-4">
            <div class="container-fluid text-center text-md-left">
                <div class="row mx-sm-5">
                    <div class="col-md-6 mt-md-0 px-3 mt-3">
                        <h4 class="font-weight-normal">BAGIFY</h4>
                        <p>We go with you!</p>
                    </div>

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <div class="col-12 col-md-6 mt-md-0 px-sm-3 mt-2">
                        <h5 class="text-uppercase">Final Project</h5>
                        <p class="m-0 d-none d-sm-block">CS50's Web Proggramming with JS and Python.</p>
                        <p class="mt-0 font-weight-normal">Project by Joao Schapke.</p>
                    </div>

                </div>
            </div>
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a> No actual copyright</a>
            </div>
        </footer>


        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/js/mdb.min.js"></script>
        {% block script %}{% endblock %}
    </body>
</html>
