{% extends 'bagify/base.html' %}
{% load static %}
{% block title %}
Collections
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/collections.css' %}">

<script type="text/javascript">
    var items_data = {% if items_json %}{{ items_json|safe}}{% else %} null{% endif %};
</script>


{% endblock %}

{% block content %}

<header>
    <!-- CAROUSEL -->
    {% if carousel %}
    <div id="secondary-carousel" class="carousel slide carousel-fade mb-4" data-ride="carousel">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            {% for item in carousel %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="view">
                    {% if item.url %}<a href="{{item.url}}">{% endif %}
                    <img class="d-block w-100" src="{{ item.image }}" alt="slide">
                    <div class="mask rgba-black-light"></div>
                    </a>
                </div>
                <div class="carousel-caption rgba-black-light">
                    <h1 class="h3-responsive">{{ item.title }}</h1>
                    {% if item.subtitle %}<p class="d-none d-sm-block mb-0">{{ item.subtitle }}</p>{% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#secondary-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#secondary-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    {% endif %}
    <!-- END OF CAROUSEL -->
    <div class="title-header">
        <h1 class="text-center text-uppercase"><strong>Our Collections</strong></h1>
    </div>
    <!-- FILTERS  -->
    <div class="container py-2 my-2">
        <!-- CATEGORIES -->
        <div class="row my-2">
            {% for category in categories %}
            <div class="col col-lg-3">
                <label class="filter-checkbox category-checkbox">
                  <input type="checkbox" name="selected-categories" value="{{category.id}}" autocomplete="off" {% if query|lower == category.name|lower %}checked{% endif %} hidden/>
                  <div>
                      <h3 class="text-uppercase">{{category.name}}</h3>
                  </div>
                </label>
            </div>
            {% endfor %}
        </div>
        <!-- END CATEGORIES  -->
        <!--  GENDER AND SEARCH  -->
        <div class="row mt-4">
            <div class="col-12 col-sm-8">
                <form class="form-inline md-form form-sm my-1">
                  <input class="form-control form-control-sm mr-3 w-100" type="text" placeholder="Search by name" aria-label="Search" id="search">
                </form>
            </div>

            <div class="col-12 p-0 col-sm-4">
                <div class="d-inline-block ml-3">
                    <label class="filter-checkbox mx-2">
                      <input type="checkbox" name="gender" value="F" autocomplete="off" hidden>
                      <div>
                          <i class="fas fa-2x fa-venus mr-2"></i>
                          <h3 class="d-inline-block m-0"> Women</h3>
                      </div>
                    </label>
                    <br class="d-none d-md-block">
                    <label class="filter-checkbox">
                      <input type="checkbox" name="gender" value="M" autocomplete="off" hidden>
                      <div>
                          <i class="fas fa-2x fa-mars mr-2"></i>
                          <h3 class="d-inline-block m-0"> Men</h3>
                      </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-- FILTERS -->
</header>
    <br>
    <!-- CATALOG IT ITEMS -->
    <div class="container" id="catalog">
        <div class="row">
        {% for item in items %}
            {% for display in item.get_display_images %}
            <div class="col-lg-4 col-sm-6 my-4" data-id="{{item.id}}" hidden>
              <!-- Card -->
              <div class="card card-cascade card-ecommerce">

                <!-- Card image -->
                <div class="view view-cascade img-narrower overlay">
                  <img src="{{display.image}}" class="card-img" alt="product photo">
                  <a href="/product/{{item.id}}">
                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                  </a>
                </div>
                <!-- Card image -->

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">
                  <a href="" class="text-muted">
                    <h5 class="text-uppercase small">{{display.color.label}}</h5>
                  </a>
                  <h4 class="card-title">
                    <strong>
                    {{item.name}}
                    </strong>
                  </h4>


                  <div class="card-footer px-1">
                    <span class="float-left font-weight-bold">
                      <strong>{{item.price}}$</strong>
                    </span>
                    <span class="float-right">
                      <a href="/product/{{id}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick Look">
                        <i class="fas fa-eye grey-text ml-3"></i>
                      </a>
                    </span>
                  </div>
                </div>
                <!-- Card content -->

              </div>
              <!-- Card -->
            </div>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
    <!-- END OF CATALOG OF ITEMS -->
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.1/handlebars.min.js" charset="utf-8"></script>
<script src="{% static 'js/collections.js' %}" charset="utf-8"></script>
{% endblock %}
