{% extends 'cloth_store/base.html' %}
{% load static %}
{% block title %}
Collections
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/collections.css' %}">
<script type="text/javascript">
    var data = '{{categories}}';
    var selected = '{{query}}';
</script>
{% verbatim %}
<script id="entry-template" type="text/x-handlebars-template">
    <div class="row">
    {{#list items}}
        <div class="collection-item col-6 col-sm-4 col-lg-3">
            <img alt="{{alt}}" src="{{src}}">
            <h3>{{title}}</h3>
            <div><button>ADD TO CART</button></div>
        </div>
    {{/list}}
</script>
{% endverbatim %}
<script src="{% static 'js/collections.js' %}" charset="utf-8"></script>
{% endblock %}

{% block content %}
    <header class="container">

            <div class="btn-group categories-boxes d-block" data-toggle="buttons">
                <div class="row">
                    {% for category in categories %}
                    <div class="col-6 col-md-3 p-0">
                        <label class="btn btn-mdb-color btn-block square form-check-label">
                          <input class="form-check-input" type="checkbox" name="selected-category" value="{{category.name}}" autocomplete="off">{{category.name}}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
            <div class="btn-group mt-5 " data-toggle="buttons">
              <label class="btn btn-mdb-color form-check-label active">
                <input class="" type="checkbox" checked autocomplete="off"> Pre-checked
              </label>
              <label class="btn btn-mdb-color form-check-label">
                <input class="form-check-input" type="checkbox" autocomplete="off"> Check
              </label>
              <label class="btn btn-mdb-color form-check-label">
                <input class="form-check-input" type="checkbox" autocomplete="off"> Check
              </label>
            </div>
        </div>

            <div class="btn-group btn-group-toggle d-flex flex-column flex-md-row" data-toggle="buttons">
                <label class="btn blue-gradient p-2 checkboxes">
                    <input class="d-none" type="checkbox" name="gender" value="men" autocomplete="off">
                        <i class="fas fa-2x fa-mars"></i>
                        <h5 class="d-inline-block m-0"> Men</h5>
                </label>
                <label class="btn blue-gradient p-2 checkboxes">
                    <input class="d-none" type="checkbox" name="gender" value="men" autocomplete="off">
                    <i class="fas fa-2x fa-venus"></i>
                    <h5 class="d-inline-block m-0"> Women</h5>
                </label>
                <label class="btn btn-elegant active">
                  <input type="checkbox" checked autocomplete="off"> Checkbox 1 (pre-checked)
                </label>
                <label class="btn btn-primary">
                  <input type="checkbox" autocomplete="off"> Checkbox 2
                </label>
                <label class="btn btn-primary">
                  <input type="checkbox" autocomplete="off"> Checkbox 3
                </label>
            </div>

    </header>
    <br>
    {{context}}
    {{context.items}}
    <img src="{{item.main_image.url}}" alt="">
    {{ item.images.image }}
    <br>

    Catalog
{% endblock %}
