{% extends 'cloth_store/base.html' %}

{% block title %}Bagify{% endblock %}

{% block content %}

Navbar on top on base.html

<p>Main jumbotron here</p>

<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for item in carousel_list %}
        <li data-target="#carousel" data-slide-to="{{forlop.counter0}}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for item in carousel_list %}
        <div class="carousel-item">
            <img class="d-block w-100" src="{{item.image}}" alt="clickable image leading to collections">
            <div class="carousel-caption">
                <h3>Title</h3>
                <p>Text</p>
            </div>
        <div>
        {% endfor %}
    </div>
</div>

<p>Some spacing with some text</p>

<p>Stacked inlined photos with products, a title like best sellers!</p>

<p>Another stack of in lined phoots like: newest additions</p>

<p>Some metadata</p>

<p>maybe some clickables with categories?</p>

<p>Footer of the base html</p>

{% endblock %}
