{% extends 'cloth_store/base.html' %}
{% load static %}

{% block title %}Bagify{% endblock %}

{% block head %}
<link href="https://fastcdn.org/Glide.js/2.0.4/css/glide.core.min.css" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/index.css'%}">
{% endblock %}


{% block content %}

<div id="carousel" class="carousel slide carousel-fade mb-4" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        {% for item in carousel %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="view">
                <a href="{{item.url}}">
                <img class="d-block w-100" src="{{ item.image.url }}" alt="slide">
                <div class="mask rgba-black-light"></div>
                </a>
            </div>
            <div class="carousel-caption rgba-black-light">
                <h1 class="h3-responsive">{{ item.title }}</h1>
                {% if item.subtitle %}<p class="d-none d-sm-block mb-0">{{ item.subtitle }}</p>{% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>


{% if popular and newest %}
<section class="items-scroll my-3 p-1">
    <h2 class="text-center my-3 header">
        <label>
            <input type="radio" name="scrollItemsToggler" value="#popularItems" checked>
            <span>Best Sellers</span>
        </label> /
        <label>
            <input type="radio" name="scrollItemsToggler" value="#newItems">
            <span>New Products</span>
        </label>
    </h2>

    <div class="scrolling-wrapper dragscroll animated collapse" id="popularItems">
        {% for object in popular%}
        {% if object.get_main_image%}
            <div class="card-naked">
          <!--Featured image-->
          <div class="view overlay hm-white-slight rounded">
              <img src="{{object.get_main_image.image.url}}" class="hoverable img-fluid card-image" data-id="">
              <a href ="{% url 'product' object.item.id %}">
                  <div class="mask rgba-grey-light">
                      <div class="btn btn-lg btn-white">
                          See details
                      </div>
                  </div>
              </a>
          </div>

          <div class="item-label">
              ${{ object.item.price }}
          </div>

            </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="scrolling-wrapper collapse" id="newItems">
        {% for object in newest%}
        {% if object.get_main_image %}
        <div class="card-naked">
            <!--Featured image-->
            <div class="view overlay hm-white-slight rounded">
          <img src="{{object.get_main_image.image.url}}" class="hoverable img-fluid card-image" data-id="">
          <a href ="{% url 'product' object.item.id %}">
              <div class="mask rgba-grey-light"></div>
          </a>
      </div>

      <div class="item-label">
          ${{ object.item.price }}
      </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="arrow left">
        <label class="btn btn-white btn-md">
            <i class="fa fa-angle-left fa-2x"></i>
        </label>
    </div>
    <div class="arrow right">
        <label class="btn btn-white btn-md">
            <i class="fa fa-angle-right fa-2x"></i>
        </label>
    </div>
</section>
{% endif %}


<section class="company-details container p-3 my-3">
    <h3>Bagify</h3>
    <p>Bagify is a fictional company of bags</p>
    <p>Here goes some more info of the company.</p>
    <p>Info on why we are great</p>
    <p>Some inspirational message:</p>
    <h4>Every story has a person. Buy our backpacks.</h4>
</section>

{% if categories %}
<section class="my-4 container-fluid categories">
    <h2 class="text-center">Our collections:</h2>
    <div class="row justify-content-center"">
        {% for category in categories %}
        <div class="col-6 col-sm-5 p-0 view zoom">
            <img class="img-fluid" src="{{ category.image.url }}" alt="image of the category">
            <a href="{% url 'collection' category.name %}"><div class="mask flex-center waves-effect waves-light rgba-black-light">
                <h4 class="white-text">{{category.name}}</h4>
            </div></a>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}

{% endblock %}

{% block script %}
<script src="{% static 'js/index.js' %}" charset="utf-8"></script>
{% endblock %}
